# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [2]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [3]:
# a =
a = pd.Series([100,200,300,400])

Print a, and data type

In [4]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [5]:
element_300 = a[2]
print(element_300)

300

What are the values of index for series a?

In [6]:
index_values = a.index
print(index_values)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [7]:
a.index = ['c', 'a', 'b', 'd']

print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [8]:
value_d = a.loc['d']

print(value_d)

400

Sort the values wrt to the index and print it

In [9]:
sorted_a = a.sort_index()

print(sorted_a)

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [10]:
# b =

b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [11]:
# a =
a = pd.concat([a,b])

print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [12]:
#print a again after appending b into it


print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [13]:
# a =
a = a.sort_values(ascending=False)
print(a)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

In [14]:

print(a.index)

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [15]:
# df =

df = pd.DataFrame(a, columns=['Value'])

In [16]:
print(df)

   Value
e    800
f    450
d    400
b    300
a    200
c    100
g    100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [17]:
df = pd.DataFrame(a, columns=['Value'])

print(df.shape)

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [18]:
# yep its same as the series.

print(a.index)
print(df.index)

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')
Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [19]:
print(df.head(2))
print(df.tail(2))

   Value
e    800
f    450
   Value
c    100
g    100

In [20]:
# head(): Displays the first few rows of the DataFrame or Series.

# tail(): Displays the last few rows of the DataFrame or Series.

Rename the column of the dataframe as 'points'

In [21]:

df = pd.DataFrame(a, columns=['Value'])
df.columns = ['Points']

print(df)

   Points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [22]:
#Create fruits array

# fruits =

fruit = ['orange', 'mango', 'apple']
fruits = pd.Series(np.random.choice(fruit, size=7))
print(fruits)

0     mango
1    orange
2     mango
3    orange
4     apple
5     apple
6     mango
dtype: object

In [23]:
#Create series fruits out of fruits array

# fruits =
fruits = pd.Series(fruits)
print(fruits)

0     mango
1    orange
2     mango
3    orange
4     apple
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [24]:

fruits.index = df.index


print(fruits)

e     mango
f    orange
d     mango
b    orange
a     apple
c     apple
g     mango
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [25]:
df['fruits'] = fruits


print(df)

   Points  fruits
e     800   mango
f     450  orange
d     400   mango
b     300  orange
a     200   apple
c     100   apple
g     100   mango

In [26]:


print(df.head(2))

   Points  fruits
e     800   mango
f     450  orange

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [27]:
# d1 =
data = {
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
}

d1 = pd.DataFrame(data)

Print(d1)

In [28]:

print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [29]:

print(d1.shape)

(5, 2)

Set city = d1['city']

In [30]:

city = d1['city']

print city <br>
What is the type of city.

In [31]:

print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [32]:
# d2 =

data2 = {
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
}

d2 = pd.DataFrame(data2)

print the shape of this dataframe

In [33]:
print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [34]:
# d3 =

d3 = pd.concat([d1, d2], ignore_index=True)

print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengaluru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [35]:
df = d3[d3['Temperature'] <= 20]
cities = len(df)

print(df)
print(cities)

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [36]:
df = d3[d3['Temperature'] >= 35]

print(df)

          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [37]:
# write function here

# def is_ut(x): 

#     # write code below

def is_ut(city):
    union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']
    return city in union_territories

# d3['is_ut'] =
d3['is_ut'] = d3['city'].apply(is_ut)

In [38]:
# print d3

print(d3)

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengaluru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [39]:
# write function here

def c_to_f(temp_celsius):
    return (temp_celsius * 9/5) + 32

In [40]:
# check function c_to_f(10)


print(c_to_f(10))

50.0

In [41]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

d3['temp_fahrenheit'] = d3['Temperature'].apply(c_to_f)

print(d3)

          city  Temperature  is_ut  temp_fahrenheit
0   Chandigarh           15   True             59.0
1        Delhi           22   True             71.6
2       Kanpur           20  False             68.0
3      Chennai           26  False             78.8
4       Manali           -2  False             28.4
5    Bengaluru           24  False             75.2
6   Coimbatore           35  False             95.0
7    Srirangam           36  False             96.8
8  Pondicherry           39   True            102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [42]:
union_territories = ['Chandigarh', 'Delhi', 'Pondicherry']
d1_UT = d1[d1['city'].isin(union_territories)]

print(d1_UT)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [50]:
data1 = {
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 40, 26, -2]
}
d1 = pd.DataFrame(data1)
def c_to_f(temp_celsius):
    return temp_celsius * 9/5 + 32
d1['temp_fahrenheit'] = d1['Temperature'].apply(c_to_f)
d1_above_90_f = d1[d1['temp_fahrenheit'] > 90]

print(d1_above_90_f)

     city  Temperature  temp_fahrenheit
2  Kanpur           40            104.0

Select only the first three rows of the dataframe d1.

In [51]:
d1_first_three = d1[:3]

print(d1_first_three)

         city  Temperature  temp_fahrenheit
0  Chandigarh           15             59.0
1       Delhi           22             71.6
2      Kanpur           40            104.0

Select all the rows and last two columns in the dataframe.

In [52]:
d1_last_two_columns = d1.iloc[:, -2:]

print(d1_last_two_columns)

   Temperature  temp_fahrenheit
0           15             59.0
1           22             71.6
2           40            104.0
3           26             78.8
4           -2             28.4

## Groupby

In [56]:
# Create a dataframe using dictionary of your choice

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Age': [23, 35, 45, 23, 35, 29, 23],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles', 'Chicago', 'New York'],
    'Salary': [70000, 85000, 95000, 72000, 88000, 67000, 73000]
}

df = pd.DataFrame(data)

grouped_df = df.groupby('City')['Salary'].mean()

print(grouped_df)

City
Chicago        69500.000000
Los Angeles    86500.000000
New York       79333.333333
Name: Salary, dtype: float64

In [59]:
# Use Groupby of single column with aggregate sum()
df = pd.DataFrame(data)
result = df.groupby('Name')['Salary'].sum()

print(result)

Name
Alice      70000
Bob        85000
Charlie    95000
David      72000
Eva        88000
Frank      67000
Grace      73000
Name: Salary, dtype: int64

In [60]:
# Use Groupby of single column with aggregate count()

result = df.groupby('City')['Name'].count()

print(result)

City
Chicago        2
Los Angeles    2
New York       3
Name: Name, dtype: int64

In [61]:
# Use Groupby of single column with aggregate min() and max()

result = df.groupby('City')['Salary'].agg([min, max])

print(result)

               min    max
City
Chicago      67000  72000
Los Angeles  85000  88000
New York     70000  95000

C:\Users\gulab\AppData\Local\Temp\ipykernel_8212\2379482304.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result = df.groupby('City')['Salary'].agg([min, max])
C:\Users\gulab\AppData\Local\Temp\ipykernel_8212\2379482304.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  result = df.groupby('City')['Salary'].agg([min, max])

In [62]:
# Use Groupby of any 2 columns with aggregate mean()
result = df.groupby(['City', 'Age'])['Salary'].mean()

print(result)

City         Age
Chicago      23     72000.0
             29     67000.0
Los Angeles  35     86500.0
New York     23     71500.0
             45     95000.0
Name: Salary, dtype: float64

In [63]:
# Use Groupby of any 2 columns with aggregate min() and max()

result = df.groupby(['City', 'Age'])['Salary'].agg([min, max])

print(result)

                   min    max
City        Age
Chicago     23   72000  72000
            29   67000  67000
Los Angeles 35   85000  88000
New York    23   70000  73000
            45   95000  95000

C:\Users\gulab\AppData\Local\Temp\ipykernel_8212\3554081432.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result = df.groupby(['City', 'Age'])['Salary'].agg([min, max])
C:\Users\gulab\AppData\Local\Temp\ipykernel_8212\3554081432.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  result = df.groupby(['City', 'Age'])['Salary'].agg([min, max])